[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rvanengen
[access "refs/for/refs/*"]
	read = group user/rvanengen
	push = group user/rvanengen
	label-Code-Review = -2..+2 group user/rvanengen
	label-Verified = -1..+1 group user/rvanengen
	rebase = group user/rvanengen
	removeReviewer = group user/rvanengen
	submit = group user/rvanengen
[access "refs/heads/*"]
	read = group user/rvanengen
	create = group user/rvanengen
	push = +force group user/rvanengen
	pushMerge = group user/rvanengen
[access "refs/tags/*"]
	push = group user/rvanengen
	push = +force group user/rvanengen
